<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Roy Shum - Personal page</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">

    <base href="/">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <script type="text/ng-template" id="showImg.html">
      <div class="modal-body" id="modal-body">
          <img ng-src="{{::modal.src}}">
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="modal.close()">That's awesome!</button>
      </div>
    </script>

    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navbarCtrl as navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" ng-click="navbar.isCollapsed = !navbar.isCollapsed" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Homepage</a>
        </div>
        <div class="hidden-xs">
          <ul class="nav navbar-nav">
            <li ng-class="item.className" ng-repeat="item in ::navbar.menuItems">
                <a ng-href="{{::item.link}}" ng-bind="::item.name"></a>
            </li>
          </ul>
        </div>
        <div id="navbar" uib-collapse="!navbar.isCollapsed">
          <ul class="nav navbar-nav">
            <li ng-class="item.className" ng-repeat="item in ::navbar.menuItems">
                <a ng-href="{{::item.link}}" ng-bind="::item.name"></a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h1>Roy Shum</h1>
        <p>Know about my profiles and projects.</p>
      </div>
      
      <div class="col-md-12">
        <section ng-controller="projectCtrl as proj">
            <div class="page-header" close-others="false"><h1>Project</h1></div>
            <uib-accordion ng-if="::proj.projectArr">
              <div uib-accordion-group is-open="true" class="panel-default" heading="{{project.header}}" ng-repeat="project in ::proj.projectArr">
                <div class="col-md-4">
                    <img ng-src="{{project.image}}" show-pic>
                </div>
                <div class="col-md-8">
                    <label>Description:</label><span ng-bind="::project.desc"></span><br>
                    <div ng-if="::project.buildTech">
                        <label>How I built it:</label>
                        <button class="btn btn-info" ng-repeat="tech in ::project.buildTech" style="margin-right: 10px;">
                          <a ng-href="{{::tech.link}}" ng-bind="::tech.name" target="_blank"></a>
                        </button>
                    </div>
                    <br>
                    <div ng-if="::project.link">
                      <label>You can find it here:</label>
                      <a ng-href="{{::project.link}}" ng-bind="::project.link"></a>
                    </div>
                </div>
              </div>
            </uib-accordion>
        </section>
        
      </div>

    </div><!-- /.container -->
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-touch.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    
    
    <script>
        /* global angular */
        angular.module('app', ['ngAnimate', 'ngTouch', 'ui.bootstrap'])
          .directive('showPic', ['$uibModal', function($uibModal) {
              return {
                restrict: 'A',
                link: function(scope, element, attrs) {
                    element.on('click', function() {
                      $uibModal.open({
                          controller: ['$uibModalInstance', function($uibModalInstance) {
                                            var vm = this;
                                            vm.close = $uibModalInstance.close;
                                            vm.src = attrs.src;
                                      }],
                          controllerAs: 'modal',
                          templateUrl: "showImg.html"
                      });
                    });
                }
              };
          }])
          
          .service('dataService', ['$http', function($http) {
              var self = this;
              
              self.getProjectList = function(projects) {
                  return $http.get('/project.json')
                    .then(function(projects) {
                        return projects.data;
                    });
              };
          }])
        
          .controller('navbarCtrl', [function() {
              var vm = this;
              
              vm.menuItems = [{
                            name: 'Home',
                            link: '#',
                            className: 'active'
                        }];
              
              vm.isCollapsed = false;
          }])
          
          .controller('projectCtrl', ['dataService', function(dataService) {
              var vm = this;
              
              dataService.getProjectList()
                .then(function(projects) {
                    vm.projectArr = projects;
                });
          }]);
          
    </script>
  </body>
</html>